
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/etd8ezx.css");

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
--bgBlack: #000004;
--bgPurple: #7e2e96;
--bgYellow: #aaaa22;
--text_PrimaryColor: #000004;
--text_SecondaryColor: rgb(187, 187, 72);
--text_ThirdColor: #2e0a39;
--bgText-Gradient: -webkit-linear-gradient( #5a871b, #bbbb48);
--bgText-Gradient2: -webkit-linear-gradient(#000004, #bbbb48);
--H1-fontSize: clamp(1.3rem, 8vw, 2.3rem);
--H2-fontSize: clamp(1rem, 8vw, 1.6rem);
--H3-fontSize: clamp(.7rem, 8vw, 1.2rem);
--A-fontSize: clamp(.75rem, 8vw, .9rem);
--button-fontSize: clamp(.5rem, 5vw, 1rem);
--H1-HugefontSize: clamp(2.3rem, 8vw, 4rem);
}


body{
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text_PrimaryColor);

}

.video{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);     
}

section{
    height: 100svh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#canvas-video{
    width: 100%;         
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
}

.outro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: calc(100svw - 20%);
    padding: 1em;
    text-decoration: none;
    color: var(--text_PrimaryColor);
    min-height: 50%;
    background-color: rgba(255, 255, 255, 0.696);
    border-radius: .5em;
    backdrop-filter: blur(1px);
    border: 3px solid var(--bgBlack);
    
    h2{
        font-size: var(--H1-HugefontSize);
        font-family: "am-majella";
        text-transform: uppercase;
        margin: 2vh;
    }

    p{color: var(--text_SecondaryColor);}

    h3{
        font-size: var(--H3-fontSize);
        font-family: "Poppins";
        font-weight: 600;
    }

    
}

.infoContainer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 4px;

    
    img{
        width: 25vw;
        height: 100%;
        border-radius: 1em;
        object-fit: cover;
    }
}

.info{
    border-radius: .5em;
    color: white;
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;


}

.infoText{
    border: 3px solid var(--bgBlack);
    min-height: 45%;
    align-items: center;
    color: var(--text_PrimaryColor);
    padding: 1rem;
    display: flex;
    border-radius: 1em;
    justify-content: space-between;
    transition: all .4s cubic-bezier(1, 0.3, 0.8, 1);

    
    h4{
        font-size: var(--button-fontSize);
        font-family: "Poppins";
    }

    &:hover{
        color: white;
        background-color: var(--bgBlack);
    }

}

.infoText::after{
    font-family: 'Material Symbols Rounded';
    content: "download";
    font-size: var(--H1-fontSize);
    display: none;
    transition: 2.4s ease-out;
    animation: arrowD 1s ease;
}

.infoText:hover::after {
    display: block;
    
}
.listContainer{
    pointer-events: none;
    display: flex;
    width: 90vw;
    gap: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
        text-decoration: none;
    }


.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.696);
    border-radius: .5em;
    padding: 1em .5em;
    padding-top: 1em;
    backdrop-filter: blur(10px);
    border: 2px solid var(--bgBlack);
    align-items: center;

}

.listTitle{
    font-family: "am-majella";
    text-transform: uppercase;
    width: 100%;

    h1{
        font-size: var(--H1-fontSize);
        margin: 0.3em;
        text-align: center;
        color: var(--bgBlack);
    }
}

.textList{
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em;

    h3{
        text-align: center;
        padding: .5em;
        font-family: "poppins";
        font-weight: 700;
        text-align: center;
        font-size: var(--A-fontSize);
    }
}

#anim{
    width: 100%;

}

.line{
    width: 80%;
    height: 1px;
    border: 1px solid var(--bgBlack);
}

.email{
    cursor: pointer;
    position: relative;
    height: fit-content;
    border-radius: .5em;
    margin: 3vh;
    text-align: center;
    transition: 1s ease;

    h3{
        border-radius: .5em;
        font-size: var(--H2-fontSize);
        font-weight: 300;
        font-family: "am-majella";
        text-transform: uppercase;
        padding: .4em;
        width: 100%;
        color: var(--bgBlack);
        transition: .5s ease;

        &:hover{
        background-color: var(--bgBlack);
        color: var(--bgYellow);
    
        font-style: oblique;
        padding: 1rem;
    }
}

    h1{
        border-radius: .5em;
        font-size: var(--H3-fontSize);
        font-weight: 400;
        font-family: "poppins";
        padding: .4em;
        color: var(--bgBlack);
        transition: .5s ease;
        
        &:hover{
        background-color: var(--bgBlack);
        color: var(--bgYellow);
        font-style: oblique;
        padding: 1rem;
    }
    }
}

.outroStatic {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    text-decoration: none;
    color: var(--text_PrimaryColor);
    padding: 1em;
    border-radius: .5em;
    backdrop-filter: blur(4px);
    transition: 1s ease;
}

.outroStatic h2 {
    font-size: var(--H1-fontSize);
    font-family: "am-majella";
    text-transform: uppercase;
    margin: 2vh;
}

.outroStatic::before {
    font-family: 'Material Symbols Rounded';
    content: "arrow_back_ios_new";
    font-size: var(--H1-fontSize);
    display: none;
    transition: 2.4s ease-out;
    animation: arrow 1s ease;
    
}

.outroStatic:hover {
    background-color: var(--bgBlack);
    color: white;
}

.outroStatic:hover::before {
    display: block;
    
}

@keyframes arrow {
    from{transform: translateY(-100px);}
    to{
        transform: translateY(0px);
    }
   
}

@keyframes arrowD {
    from{transform: translateX(100px);}
    to{
        transform: translateX(0px);
    }
   
}