@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/etd8ezx.css");

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --bgBlack: #000004;
    --bgPurple: #7e2e96;
    --bgYellow: #aaaa22;
    --text_PrimaryColor: #000004;
    --text_SecondaryColor: rgb(187, 187, 72);
    --text_ThirdColor: #2e0a39;
    --bgText-Gradient: -webkit-linear-gradient( #5a871b, #bbbb48);
    --bgText-Gradient2: -webkit-linear-gradient(#000004, #bbbb48);
    --H1-fontSize: clamp(1.3rem, 6vw, 2.3rem);
    --H2-fontSize: clamp(1rem, 6vw, 1.6rem);
    --H3-fontSize: clamp(.7rem, 6vw, 1.2rem);
    --A-fontSize: clamp(.5rem, 6vw, .9rem);
    --H1-HugefontSize: clamp(3rem, 7vw, 6rem);
}

html,body{
    font-family: "Poppins";
    transition: 2s ease;
    overflow-x: hidden;
}

.no-scroll{
    overflow: hidden;
    width: 100%;
}


.btn{
    border-top: 3px solid var(--bgBlack);
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100svh - 15%);
    justify-content: space-around;
    align-items: flex-start;
    pointer-events: fill;
    z-index: 11;

    h2{
        font-family: "Poppins";
        font-size: var(--H3-fontSize);
        letter-spacing: .3rem;
        color: var(--text_PrimaryColor);
        font-weight: 600;
    }
   }


.off-screen-menu {
    overflow: hidden;
    padding: 1em;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    transform: translateY(-100vh);
    transition: 1s ease;
    z-index: 10;
    border-bottom: 2px solid black;
}


.off-screen-menu ul{
    display: flex;
    font-weight: 800;
    font-family: "am-majella";
    text-transform: uppercase;
    justify-content: center;
    font-size: var(--H1-HugefontSize);
    gap:clamp( .5rem, 7vw, 2rem);
    flex-direction: column;
    pointer-events: fill;

}

.off-screen-menu a:hover{
    border-bottom: 3px solid var(--bgYellow);
}


.off-screen-menu a{
    color: var(--text_PrimaryColor);
    text-decoration: none;
    overflow: hidden;
}


a{
    text-decoration: none;
}

nav{
    backdrop-filter: blur(10px) contrast(90%);
    padding: clamp( 1rem, 7vw, 1.5rem) 3em;
    mix-blend-mode: difference;
    flex-direction: row;
    position: fixed;
    width: 100svw;
    border-bottom: 2px solid var(--bgBlack);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    z-index: 100;
}
.logo, .logoStatic{
    font-size: var(--H1-fontSize);
    font-family: "am-majella";
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color: var(--text_PrimaryColor);
}

.ham-menu{
    overflow: hidden;
    cursor: pointer;
    height: 2.5em;
    margin-left: auto;
    width: 35px;
    position: relative;
}

.ham-menu span{
    height: 4px;
    width: 100%;
    background-color: var(--bgBlack);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .45s ease-in-out;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu.active span:nth-child(2){
    top: 50%;
    opacity: 1;
    background-color: var(--bgYellow);
    transform: translate(100%, -50%) rotate(-90deg);
}

.social{
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    color: var(--text_PrimaryColor);
    padding: .35rem;
    position: relative;
    gap: .65rem;
    transition: .5s ease;

    a{
        font-family: "Poppins";
        width: fit-content;
        font-weight: 500;
        font-size: var(--H3-fontSize);
        color: var(--text_PrimaryColor);
    }
}

.navTitle{
    padding: .35rem;
    pointer-events: none;


    h2{
        font-family: "Poppins";
        font-size: var(--H3-fontSize);
        letter-spacing: .3rem;
        color: var(--text_PrimaryColor);
        font-weight: 600;
    }

}


.email{
    overflow: hidden;
    width: 100%;
    position: relative;

    h3{
        font-family: "Poppins";
        font-size: var(--A-fontSize);
        font-weight: 400;
        letter-spacing: .05rem;
        color:#595858;
        pointer-events: none;
    }

    a{
        font-family: "Poppins";
        font-weight: 500;
        cursor: pointer;

        width: fit-content;
        font-size: var(--H3-fontSize);
        color: var(--text_PrimaryColor);
    }
    
}

canvas {
    isolation: isolate;
    /* position: absolute; */
  }

  #paper{
    width: 100%;
    height: 100%;
  }
  
  #control-bar-wrapper {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 4vmin;
    z-index: 10;
  }
  
  .toggle {
    background-color: rgba(93, 93, 93, 0.1);
    opacity: 0.3;
    backdrop-filter: blur(5px);
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: "Poppins";
    font-size: var(--A-fontSize);
    z-index: 10;
    transition: 0.5s ease-in;

    &:hover{
     background-color: var(--bgYellow);   
     color: var(--bgBlack);
    }

  }
  
  body:has(#sound-toggle[data-toggled="true"]) #sound-toggle {
    opacity: .7;
    color: var(--text_SecondaryColor);
    background-color: transparent;
  }

  body:has(#sound-toggle[data-toggled="true"]) .container-txt{
    opacity: 0.1;
    scale: .3;
  }
  
  body:has(#sound-toggle[data-toggled="true"]) canvas{
    opacity: 1;
  }

  
.Intro{
    height: 100svh;
    display: flex;
    justify-content: center;
    background-color:var(--bgBlack);
}

#paper {
    opacity: 0.5;
    position: absolute;
    z-index: 1;
  }

.container-txt{
    position: absolute;
    bottom: 15vmin;
    width: calc(100% - 20%);
    padding: 1em;
    z-index: 2;
    transition: all .65s ease-in-out;    

    h1{
        pointer-events: none;
        text-align: start;
        text-align: center;
        color: white;
        font-family: "Poppins";
        font-size: var(--A-fontSize);
        font-weight: 500;
        text-transform: uppercase;
    }
    
    span{
        pointer-events: none;
        color: var(--text_SecondaryColor);
        font-family: "am-majella";
        font-size: var(--A-fontSize);
        text-transform: none;
        font-weight: 400;
    }
    
}

.sticky{
    top: clamp(2rem, 8vw, 3rem);
}

img, video{
    width: 100%;
    pointer-events: visible;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;


}

.wrapper{
    pointer-events: none;
    display: flex;
    flex-direction: row;
    width: 300vw;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 80%;
    border-bottom: 2px solid black;
    z-index: 3;
    overflow: hidden;

}

.leftBox{
    height: 100%;
    font-size: var(--H1-fontSize);
    padding: .2em;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border-left: 2px solid black;
    border-right: 2px solid black;
}



.textCont{
padding: 1em;
gap: clamp( .5rem, 8vw, 1rem);
overflow: hidden;

h2{
    font-family: "am-majella";
    font-weight:800;
    font-size: var(--H2-fontSize);
    text-transform: uppercase;

}

h3{
    font-size: var(--A-fontSize);
    font-family: "Poppins";
    font-weight: 500;
    color: rgb(115, 114, 114);
    text-transform: none;
}

h4{
    font-size: var(--H3-fontSize);
    font-family: "Poppins";
    font-weight: 500;
    text-transform: none;
    font-style: oblique;
    
}

p{
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 600;
    font-size: var(--A-fontSize);
    color: var(--text_PrimaryColor);
}

span{
    text-transform: uppercase;
    font-family: "am-majella";
    font-style: oblique;
    font-weight: 400;
    font-size: var(--A-fontSize);
}

}

.sticky-header{
    position: relative;
    height: calc(100lvh - 1vh);
    text-align: center;
    left: 0;
    font-family: "am-majella";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    h1{
        color: var(--bgBlack);
        font-size: var(--H1-HugefontSize);

        font-weight: 600;
    }

    h2{
        color: var(--bgBlack);
        font-size: var(--H3-fontSize);
     
        font-weight: 400;
    }
}

.card{
    position: absolute;
    pointer-events: none;

    top: clamp(3%, 7vw, 35%);
    left: 120%;
    min-width: min(calc(100% - 80px), 400px);
    background-color: var(--bgBlack);
    border-radius: 1em;
    padding: 0.5em;
    opacity: 0;
    z-index: 2;
}

.card-content{
    pointer-events: none;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 1em;
    /* max-width: calc(100% - 30svh); */
    border-radius: 0.5em;
    border: 2px solid var(--bgYellow);

}

.card-content h2{
    font-size: var(--H1-fontSize);
    font-family: "am-majella";
    text-transform: uppercase;
    font-weight: 300;
    color: var(--text_SecondaryColor);
    letter-spacing: 0.008em;
}

.card-content p{
    font-size: var(--A-fontSize);
    font-weight: 300;
}

#paper{
    left: 0;

}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-top: 3px solid var(--bgBlack);

}


.btnFooter{
    border-top: 3px solid var(--bgBlack);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100svh - 25%);
    justify-content: space-between;
    align-items: center;
    pointer-events: fill;
    z-index: 1;

    h2{
        font-family: "Poppins";
        font-size: var(--A-fontSize);
        pointer-events: none;
        letter-spacing: .3rem;
        color: var(--text_PrimaryColor);
        font-weight: 600;
    }
   }

.social a:hover{
    border-bottom: 3px solid var(--bgYellow);
}