@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/etd8ezx.css");

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --bgBlack: #000004;
    --bgPurple: #7e2e96;
    --bgYellow: #aaaa22;
    --text_PrimaryColor: #000004;
    --text_SecondaryColor: rgb(187, 187, 72);
    --text_ThirdColor: #2e0a39;
    --bgText-Gradient: -webkit-linear-gradient( #5a871b, #bbbb48);
    --bgText-Gradient2: -webkit-linear-gradient(#000004, #bbbb48);
    --H1-fontSize: clamp(1.3rem, 6vw, 2.3rem);
    --H2-fontSize: clamp(1rem, 6vw, 1.6rem);
    --H3-fontSize: clamp(.7rem, 6vw, 1.2rem);
    --A-fontSize: clamp(.5rem, 6vw, .9rem);
    --H1-HugefontSize: clamp(3rem, 7vw, 6rem);
}

html,body{
    font-family: "Poppins";
    transition: 2s ease;
    overflow-x: hidden;
}

.no-scroll{
    overflow: hidden;
    width: 100%;
}


.btn{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100svh - 15%);
    justify-content: space-around;
    align-items: flex-start;
    pointer-events: fill;
    z-index: 11;

    h2{
        font-family: "Poppins";
        font-size: var(--H3-fontSize);
        letter-spacing: .3rem;
        color: var(--text_PrimaryColor);
        font-weight: 600;
    }
   }


.off-screen-menu {
    overflow: hidden;
    padding: 1em;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    transform: translateY(-100vh);
    transition: 1s ease;
    z-index: 10;
    border-bottom: 2px solid var(--bgBlack);
}


.off-screen-menu ul{
    display: flex;
    font-weight: 800;
    font-family: "am-majella";
    text-transform: uppercase;
    justify-content: center;
    font-size: var(--H1-HugefontSize);
    gap:clamp( .5rem, 7vw, 2rem);
    flex-direction: column;
    pointer-events: fill;

}

.off-screen-menu a:hover{
    border-bottom: 3px solid var(--bgYellow);
}


.off-screen-menu a{
    color: var(--text_PrimaryColor);
    text-decoration: none;
    overflow: hidden;
}


a{
    text-decoration: none;
}

nav{
    backdrop-filter: blur(10px) contrast(90%);
    padding: clamp( 1rem, 7vw, 1.5rem) 3em;
    flex-direction: row;
    position: fixed;
    width: 100svw;
    border-bottom: 2px solid var(--bgBlack);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    z-index: 100;
}
.logo, .logoStatic{
    font-size: var(--H1-fontSize);
    font-family: "am-majella";
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color: var(--text_PrimaryColor);
}

.ham-menu{
    overflow: hidden;
    cursor: pointer;
    height: 2.5em;
    margin-left: auto;
    width: 35px;
    position: relative;
}

.ham-menu span{
    height: 4px;
    width: 100%;
    background-color: var(--bgBlack);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .45s ease-in-out;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu.active span:nth-child(2){
    top: 50%;
    opacity: 1;
    background-color: var(--bgYellow);
    transform: translate(100%, -50%) rotate(-90deg);
}

.social{
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    color: var(--text_PrimaryColor);
    padding: .35rem;
    position: relative;
    gap: .65rem;
    transition: .5s ease;

    a{
        font-family: "Poppins";
        width: fit-content;
        font-weight: 500;
        font-size: var(--H3-fontSize);
        color: var(--text_PrimaryColor);
    }
}

.navTitle{
    padding: .35rem;
    pointer-events: none;


    h2{
        font-family: "Poppins";
        font-size: var(--H3-fontSize);
        letter-spacing: .3rem;
        color: var(--text_PrimaryColor);
        font-weight: 600;
    }

}

.email{
    overflow: hidden;
    width: 100%;
    position: relative;

    h3{
        font-family: "Poppins";
        font-size: var(--A-fontSize);
        font-weight: 400;
        letter-spacing: .05rem;
        color:#595858;
        pointer-events: none;
    }

    a{
        font-family: "Poppins";
        font-weight: 500;
        cursor: pointer;

        width: fit-content;
        font-size: var(--H3-fontSize);
        color: var(--text_PrimaryColor);
    } 
}

  #paper{
    width: 100%;
    height: 100%;
  }
  
  #control-bar-wrapper {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 4vmin;
    z-index: 10;
  }
  
  .toggle {
    background-color: rgba(93, 93, 93, 0.1);
    opacity: 0.3;
    backdrop-filter: blur(5px);
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: "Poppins";
    font-size: var(--A-fontSize);
    z-index: 10;
    transition: 0.5s ease-in;

    &:hover{
     background-color: var(--bgYellow);   
     color: var(--bgBlack);
    }

  }
  
  body:has(#sound-toggle[data-toggled="true"]) #sound-toggle {
    opacity: .7;
    color: var(--text_SecondaryColor);
    background-color: transparent;
  }

  body:has(#sound-toggle[data-toggled="true"]) .container-txt{
    opacity: 0.1;
    scale: .3;
  }
  
  body:has(#sound-toggle[data-toggled="true"]) canvas{
    opacity: 1;
  }

  
.Intro{
    height: 100svh;
    display: flex;
    justify-content: center;
    background-color:var(--bgBlack);
}

.text-intro{
    max-width: 500px;
}

.container-txt{
    position: absolute;
    bottom: 15vmin;
    width: 100%;
    padding: 1em;
    z-index: 2;
    transition: all .65s ease-in-out;    

    h1{
        max-width: 70%;
        pointer-events: none;
        text-align: start;
        color: white;
        font-family: "Poppins";
        font-size: var(--A-fontSize);
        font-weight: 500;
        text-transform: uppercase;
    }
    
    span{
        pointer-events: none;
        color: var(--text_SecondaryColor);
        font-family: "am-majella";
        font-size: var(--A-fontSize);
        text-transform: none;
        font-weight: 400;
    }  
}

img, video{
    width: 100%;
    pointer-events: visible;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
}

.wrapper{
    pointer-events: none;
    display: flex;
    flex-direction: row;
    width: 300vw;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 80%;
    border-bottom: 2px solid var(--bgBlack);
    z-index: 3;
    overflow: hidden;

}

.leftBox{
    height: 100%;
    font-size: var(--H1-fontSize);
    padding: .2em;
    display: flex;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border-left: 2px solid var(--bgBlack);
    border-right: 2px solid var(--bgBlack);
}

.textCont{
padding: 1em;
gap: clamp( .5rem, 8vw, 1rem);
overflow: hidden;

h2{
    font-family: "am-majella";
    font-weight:800;
    font-size: var(--H2-fontSize);
    text-transform: uppercase;

}

h3{
    font-size: var(--A-fontSize);
    font-family: "Poppins";
    font-weight: 500;
    color: rgb(115, 114, 114);
    text-transform: none;
}

h4{
    font-size: var(--H3-fontSize);
    font-family: "Poppins";
    font-weight: 500;
    text-transform: none;
    font-style: oblique;
    
}

p{
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 600;
    font-size: var(--A-fontSize);
    color: var(--text_PrimaryColor);
}

span{
    text-transform: uppercase;
    font-family: "am-majella";
    font-style: oblique;
    font-weight: 400;
    font-size: var(--A-fontSize);
}
}

#paper{
    left: 0;

}


.display{
    display: none;
    pointer-events: none;
}

highlight{
    font-weight: 700;
    color: var(--text_PrimaryColor);
    font-family: "poppins";
    font-style: oblique;
    text-transform: none;
}

.containerGallery{
    position: relative;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    font-family: "am-majella";
}

.containerGallery .col{
    width: fit-content;
}

.containerGallery .img-preview{
    display: flex;
    object-fit: cover;
    max-width: 250px;
    padding: 1em;
    justify-content: flex-end;
    align-items: flex-end;
}

.containerGallery .img-preview .img-preview-container{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.containerGallery .img-names{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
}

.containerGallery .img-names .img-name{
    position: relative;
    width: max-content;
    height: fit-content;
    cursor: pointer;
    
    &:hover{
        border-bottom: 4px solid var(--bgYellow);
    }

    &:not(:hover){
        opacity: 0.4;
    }
}

.containerGallery .img-names .img-name .name-revealer{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

.containerGallery .img-names .img-name .name{
    position: relative;
    top: 0;
    font-size: clamp(1rem, 7vw, 2rem);
    letter-spacing: -0.25px;
    text-transform: uppercase;
}

/* .containerGallery .img-names .img-name .name-revealer::after{
    content: "";
    position: absolute;
    top: 30px;
    pointer-events: none;
} */

.img-modal{
    background: white;
    border-top: 3px solid var(--bgBlack);
    position: fixed;
    height: fit-content;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 100;
    opacity: 0;
}

.modal-container{
    height: fit-content;
    padding: 1em;

    img, video{
        width: 100%;
    }
    
}

.modal-container .img-view{
    object-fit: cover;
    width: 250px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    pointer-events: none;
}

.modal-container .close-btn{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1em .4em;
    gap: .5em;
}

.modal-container .close-btn .btnGallery{
    font-size: clamp(1rem, 7vw, 1.5rem);
    opacity: 0;
    font-weight: 600;
    color: var(--bgBlack);
}

.modal-container .close-btn .btn-revealer{
    top: 0;
    width: 80%;
}


.img-modal-name{
    width: 100%;
    padding: 1em;
}

.img-modal-name .modal-name{
    font-size: clamp(2rem, 7vw, 2.5rem);
    font-weight: 800;
    font-family: "am-majella";
    text-transform: uppercase;
    width: fit-content;
}

.img-modal-name .modal-name-revealer{
    position: relative;
    font-size: 1rem;
    color: rgb(81, 80, 82);
    font-weight: 500;
    font-family: "Poppins";
    max-width: 1000px;
    word-spacing: -0.25px;
    text-transform: none;            
}

.modal-image-container{
position: relative;
display: flex;
width: 60%;
flex-wrap: wrap;
padding: 1em;
pointer-events: fill;
align-items: flex-start;
justify-content: space-between;
left: 0;
gap: .4em;

    img, video{
        flex: 1;
        max-width: calc(97% / 3);
        object-fit: cover;
    }
}


.web{
    height: fit-content;
    color: white;
    
}

.webContainer{
    width: 100%;
    padding: 1em 2em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--bgBlack);
}

.webTitle{
    color: var(--text_PrimaryColor);

    h2{
        font-size: var(--H1-HugefontSize);
        font-family: "am-majella";
        text-transform: uppercase;
        text-align: center;
    }

    p{
        font-size: var(--H3-fontSize);
        font-family: "am-majella";
        text-transform: uppercase;
        text-align: center;
    }
}


.webCard{
    background-color: var(--bgBlack);
    padding: 1em;
    width: 100%;
    border-radius: 1em;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    margin-bottom: 2em;

    img{
        width: 100%;
        height: 30vh;
        object-fit: cover;
        border-radius: 1em;
        margin-bottom: 2vh;
    }
}


.webDescription{
    max-width: 90%;
    display: flex;
    align-items: flex-end;
    gap: 1em;

    h2{
        font-size: var(--H1-fontSize);
        font-family: "am-majella";
    }

    h3{
        font-size: var(--A-fontSize);
        color: lightslategray;
        font-weight: 500;
    }
    
}

.webContent{
    h3{
        font-style: oblique;
    }
}
.buttonOff{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 183, 183);
    color: crimson;
    padding: 1em;
    border-radius: 1em;
    display: none;
}

.button{
    width: 100%;
    border-radius: .5em;
    background-color: white;
    padding: 1em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    font-style: oblique;
    color: var(--text_PrimaryColor);
    transition: .5s ease;

    &:hover{
        border: 2px solid var(--bgYellow);
        background-color: var(--bgBlack);
        color: white;
    }
}

.arrow {
    visibility: hidden;
    cursor: pointer;
    height: 100%;
    transform: rotate(-90deg)
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.button:hover > .arrow{
    visibility: visible;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 2rem;
    border-top: 3px solid var(--bgBlack);
    z-index: 10;

}

.btnFooter{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100svh - 25%);
    justify-content: space-between;
    align-items: center;
    pointer-events: fill;
    z-index: 1;

    h2{
        font-family: "Poppins";
        font-size: var(--A-fontSize);
        pointer-events: none;
        letter-spacing: .3rem;
        color: var(--text_PrimaryColor);
        font-weight: 600;
    }
   }

.social a:hover{
    border-bottom: 3px solid var(--bgYellow);
}

@media (max-width: 30em){

    .arrow {
        visibility: visible;
    }

    .button{
        border: 2px solid var(--bgYellow);
            background-color: var(--bgBlack);
            color: white;
    }

    .arrow span {
        border-bottom: 3.5px solid white;
        border-right: 3.5px solid white;
        animation: animate 2s infinite;
    }

    .arrow span {
        width: 3.5vw;
        height: 3.5vw;
    }

    .webCard:nth-child(3) .button{
        display: none;
    }

    .webCard:nth-child(3) .buttonOff{
        display: block;
    }

    
    .webCard:nth-child(4) .button{
        display: none;
    }

    .webCard:nth-child(4) .buttonOff{
        display: block;
    }

    .img-modal{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        max-height: fit-content;
    }
    
    .modal-container{
        width: 100%;
        margin-bottom: 1vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    
        img, video{
            max-width: 200px;
            max-height: 200px;
        }
    }
    
    .img-modal-name .modal-name-revealer{
        width: 99%;
    }
    
    .modal-image-container{
        width: 99%;
    }
}
