@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/etd8ezx.css");

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --bgBlack: #000004;
    --bgPurple: #7e2e96;
    --bgYellow: #aaaa22;
    --text_PrimaryColor: #000004;
    --text_SecondaryColor: rgb(187, 187, 72);
    --text_ThirdColor: #2e0a39;
    --bgText-Gradient: -webkit-linear-gradient( #5a871b, #bbbb48);
    --bgText-Gradient2: -webkit-linear-gradient(#000004, #bbbb48);
    --H1-fontSize: clamp(1.3rem, 8vw, 2.3rem);
    --H2-fontSize: clamp(1rem, 8vw, 1.6rem);
    --H3-fontSize: clamp(.7rem, 8vw, 1.2rem);
    --A-fontSize: clamp(.75rem, 8vw, .9rem);
    --H1-HugefontSize: clamp(2.3rem, 8vw, 4rem);
}

html,body{
    font-family: "Poppins";
    transition: 2s ease;
    overflow-x: hidden;

}


.btn{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20%;
    padding-top: 3em;
    justify-content: space-evenly;
    align-items: flex-start;
    pointer-events: fill;
    z-index: 11;

    h2{
        font-family: "Poppins";
        font-size: var(--H3-fontSize);
        letter-spacing: .60rem;
        color: var(--text_PrimaryColor);
        font-weight: 600;
    }
   }


.off-screen-menu {
    overflow: hidden;
    padding: clamp( .8rem, 7vw, 1.5rem);
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    transform: translateY(-100vh);
    display: flex;
    flex-direction: column;
    transition: 1s ease;
    z-index: 10;
    border-bottom: 2px solid black;
}


.off-screen-menu ul{
    display: flex;
    position: relative;
    font-weight: 800;
    font-family: "am-majella";
    text-transform: uppercase;
    justify-content: center;
    font-size: var(--H1-HugefontSize);
    gap:clamp( .5rem, 7vw, 2rem);
    flex-direction: column;
    pointer-events: fill;

}

.off-screen-menu a:hover{
    border-bottom: 3px solid var(--text_SecondaryColor);
}


.off-screen-menu a{
    color: var(--text_PrimaryColor);
    text-decoration: none;
    overflow: hidden;
}

nav{
    backdrop-filter: blur(8px);
    padding: clamp( .8rem, 7vw, 1.5rem);
    mix-blend-mode: difference;
    flex-direction: row;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    z-index: 100;
}
.logo{

    font-size: var(--H1-fontSize);
    font-family: "am-majella";
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color: var(--text_PrimaryColor);
}

.ham-menu{
    overflow: hidden;
    cursor: pointer;
    height: 3rem;
    margin-left: auto;
    width: 50px;
    position: relative;
}

.ham-menu span{
    height: 4px;
    width: 80%;
    background-color: var(--bgBlack);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .45s ease-in-out;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, .50%) rotate(45deg);
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, .50%) rotate(-45deg);
}

.ham-menu.active span:nth-child(2){
    top: 50%;
    opacity: .2;
    transform: translate(-110%, .50%) rotate(90deg);
}

.social{
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: .35rem;
    position: relative;
    gap: .65rem;
    align-content: center;
    justify-content: flex-end;
    transition: .25 ease;
    cursor: pointer;
    transform: all .5 ease;

    a{
        font-family: "Poppins";
        width: fit-content;
        font-weight: 500;
        font-size: var(--H3-fontSize);
        color: var(--text_PrimaryColor);
    }
}

.email{
    overflow: hidden;
    width: 100%;
    position: relative;

    h3{
        font-family: "Poppins";
        font-size: var(--A-fontSize);
        font-weight: 400;
        letter-spacing: .2rem;
        color:#595858;
    }

    a{
        font-family: "Poppins";
        font-weight: 500;
        width: fit-content;
        font-size: var(--H3-fontSize);
        color: var(--text_PrimaryColor);
    }
    
}

canvas {
    height: 100%;
    opacity: 0.5;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  #control-bar-wrapper {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 4vmin;
    z-index: 10;
  }
  
  .toggle {
    background-color: rgba(93, 93, 93, 0.1);
    opacity: 0.3;
    backdrop-filter: blur(5px);
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: "Poppins";
    font-size: var(--A-fontSize);
    transition: 0.5s ease-in;

    &:hover{
     background-color: var(--bgYellow);   
     color: var(--bgBlack);
    }

  }
  
  body:has(#sound-toggle[data-toggled="true"]) #sound-toggle {
    opacity: .7;
    color: var(--text_SecondaryColor);
    background-color: transparent;
  }

  body:has(#sound-toggle[data-toggled="true"]) .container-txt{
    opacity: 0.1;
    scale: .3;
  }
  
  body:has(#sound-toggle[data-toggled="true"]) canvas{
    opacity: 1;
  }

  
.Intro{
    height: 100svh;
    display: flex;
    justify-content: center;
    background-color:var(--bgBlack);
}

#paper {
    opacity: 0.5;
    position: absolute;
    z-index: 1;
  }

.container-txt{
    position: absolute;
    bottom: 15vmin;
    padding: 1em;
    z-index: 2;
    transition: all .65s ease-in-out;    

    h1{
        pointer-events: none;
        text-align: start;
        text-align: center;
        color: white;
        font-family: "Poppins";
        font-size: var(--H3-fontSize);
        font-weight: 500;
        text-transform: uppercase;
    }
    
    span{
        pointer-events: none;
        color: var(--text_SecondaryColor);
        font-family: "am-majella";
        font-size: var(--H3-fontSize);
        text-transform: none;
        font-weight: 400;
    }
    
}

.wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: white;
}

.Anicontainer{
    display: flex;
    width: 300vw;
}
#canvas3d,
#canvas3d-2,
#canvas3d-3{
    opacity: 1;
    z-index: -1;

}

.Anicontainer section{
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100svh;
    flex-direction: row;
    align-items: self-end;
    justify-content: flex-start;
    background-color:transparent;
}

.leftText {
    box-sizing: border-box;
    display: flex;
    padding: 3em 3em;

    flex-direction: column;
    pointer-events: none;
    
    h1{
        font-family: "am-majella";
        text-transform: lowercase;
        font-size: var(--H1-HugefontSize);
        font-weight: 800;
        color: var(--text_PrimaryColor);
    }

    sup{
        font-weight: 600;
        font-size: var(--H1-fontSize);
    }
}

.textCont{
    overflow: hidden;
    padding: 1em 0;
    gap: clamp( .5rem, 8vw, 1rem);

    h2{
        font-family: "am-majella";
        font-weight:800;
        font-size: var(--H2-fontSize);
        text-transform: uppercase;

    }

    h3{
        font-size: var(--H3-fontSize);
        font-family: "Poppins";
        font-weight: 500;
        color: rgb(115, 114, 114);
        text-transform: none;
    }

    h4{
        font-size: var(--H3-fontSize);
        font-family: "Poppins";
        font-weight: 500;
        text-transform: none;
        font-style: oblique;
        
    }

    p{
        text-transform: uppercase;
        font-family: "Poppins";
        font-weight: 600;
        font-size: var(--A-fontSize);
        color: var(--text_PrimaryColor);
    }

    span{
        text-transform: uppercase;
        font-family: "am-majella";
        font-style: oblique;
        font-weight: 400;
        font-size: var(--A-fontSize);
    }

}



.sticky{
    background-color: white;
}

img, video{
    width: 100%;
    object-fit: cover;

}

.sticky-header{
    position: relative;
    top: calc(100% - 80vh);
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    h1{
        color: var(--bgBlack);
        font-size: var(--H1-HugefontSize);
        font-family: "am-majella";
        font-weight: 600;
    }
}

.card{
    position: absolute;
    top: -2svh;
    left: 120%;
    width: calc(100% - 500px);
    background-color: var(--bgBlack);
    border-radius: 1em;
    padding: 0.5em;
    opacity: 0;
    z-index: 2;
}

.card-img{
    border-radius: .5em;
    overflow: hidden;
}


.card-content{
    pointer-events: none;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 1em;
    /* max-width: calc(100% - 30svh); */
    border-radius: 0.5em;
    border: 2px solid var(--bgYellow);

}

.card-content h2{
    font-size: var(--H1-fontSize);
    font-family: "am-majella";
    text-transform: uppercase;
    font-weight: 300;
    color: var(--text_SecondaryColor);
    letter-spacing: 0.008em;
}

.card-content p{
    font-size: var(--A-fontSize);
    font-weight: 300;
}

#paper{
    left: 0;

}


